title: Taylor Han
description: Data Scientist • NLP/GenAI • Forecasting • Experimentation
theme: minima

markdown: kramdown

collections:
  projects:
    output: true
    permalink: /projects/:name/

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: project